body {
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 15px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

h1 {
    color: #333;
}

#game-container {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    width: 90%;
}

#options-container {
    display: flex;
    flex-direction: column;
}

.container {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    padding: 20px;
    text-align: center;
    width: 90%;
}

.option {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}

.option.correct {
    background-color: #4caf50;
    color: white;
}

.option.incorrect {
    background-color: #f44336;
    color: white;
}

.option:hover {
    background-color: #e6e6e6;
}

.option.selected {
    background-color: #007BFF;
    color: white;
}
