@import url('./variables.css');

abbr {
    text-decoration: none;
}

body {
    align-items: center;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

footer {
    background-color: #222;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer span {
    font-weight: bold;
}

header {
    align-items: center;
    background-color: #656577;
    border-radius: 0 0 10px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 10px 22px;
}