@import url('./variables.css');

#controls {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}

#controls > div {
    flex: 1;
    min-width: 250px;
}

#controls label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

#controls select, #controls button {
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
    width: 100%;
}

.center-section {
    text-align: center;
    align-items: center;
}

.control-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.control-group {
    display: flex;
    flex-direction: column;
}

.control-group label {
    color: var(--color_clear);
    font-weight: bold;
}

.control-group input {
    color: var(--color_clear);
}

.custom-article {
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: column;
}

.custom-article div {
    text-align: center;
}

.custom-article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-article p {
    padding: 20px 20px;
}

.custom-article li {
    padding: 5px 0;
}

.custom-header {
    background-color: var(--color_dark_logo);
    padding-bottom: 10px;
    border-bottom: 3px solid var(--color_mid_logo);
}

.custom-header p {
    padding-bottom: 20px;
    text-shadow: 1px 1px 1px var(--color_dark_shadow);
}

.custom-main {
    background-color: var(--color_clear);
    border-radius: 0 0 20px 20px;
    box-shadow: 7px 7px 10px var(--color_dark_shadow);
    margin: auto;
    max-width: 950px;
    min-width: 200px;
}

.custom-nav {
    background-color: var(--color_dark_logo);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    text-align: left;
    align-items: center;
}

.custom-nav h1 {
    font-family: 'Times New Roman', serif;
    color: var(--color_clear);
    font-size: 2rem;
    margin: 0;
    text-shadow: 1px 1px 1px var(--color_dark_shadow);
}

.custom-nav a {
    color: var(--color_clear);
    text-decoration: none;
}

.custom-nav a:hover {
    color: var(--color_light_logo);
    text-decoration: underline;
    transition: 0.5s;
}

.custom-nav img.settings-icon {
    max-width: 5%;
    height: auto;
    object-fit: contain;
}

.custom-nav span {
    margin: auto 0;
}